html {
  font-size: 62.5%;
}

body {
  background-color: #10141e;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

.slider__section,
.search__section {
  max-width: 110rem;
  margin: 0 auto;
  position: relative;
}

.trending__selection__div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trending__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__heading {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
}

.trending__selection {
  background-color: #fff;
  width: 2rem;
  height: 0.75rem;
}

.trending__movie__img {
  width: 100%;
  height: 100%;
}

.trending__movie__card {
  height: 45rem;
  width: 25rem;
  position: relative;
}

.active__selection {
  background-color: #fc4747;
  transform: scale(1.1);
}

.slider {
  width: 100rem;
  height: 45rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
}

.trending__movies__list {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  position: absolute;
  z-index: 998;
  transition: all 0.3s;
}

.arrow {
  background-color: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 2rem;
}

.arrow__left {
  position: absolute;
  top: 50%;
  left: -1rem;

  transform: translate(0, -50%);
  z-index: 999;
}

.arrow__right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -1rem;
  z-index: 999;
}

.trending__movie__card:hover .trending__movie__img {
  filter: brightness(0.5);
  transition: all 0.3s;
  cursor: pointer;
}

.bookmark__div {
  display: none;
  position: absolute;
  background-color: #202022cc;
  width: 3.5rem;
  height: 3.5rem;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.bookmark__div:hover {
  background-color: #ffffff;
  opacity: 0.7;

  cursor: pointer;
}

.bookmark__div:hover .bookmark__icon {
  color: #10141e;
}

.bookmark__icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
}

.trending__movie__card:hover .bookmark__div {
  display: flex;
}

.see__more__btn {
  position: absolute;
  background-color: #202022cc;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 200;
  padding: 0.8rem 2rem;
  border: 0;
  gap: 1rem;
  width: max-content;
  border-radius: 1rem;
}

.trending__movie__card:hover .see__more__btn {
  display: flex;
}

.see__more__btn:hover {
  background-color: #ffffff;
  color: #10141e;
  cursor: pointer;
  opacity: 0.7;
}

.search__icon {
  width: 2rem;
  height: 2rem;
}

.search__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  background-color: #161d2f;
  padding: 1rem;
  border-radius: 1rem;
}

.search__div {
  position: relative;
}

.search__input {
  border: none;
  background-color: hsl(0, 0%, 75%);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.searchbar__icon {
  font-size: 2rem;
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
}

.select__input {
  background-color: hsl(0, 0%, 75%);
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: none;
}

.bookmarks__div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bookmarks__btn {
  background-color: transparent;
  border: none;
}

.bookmarks__icon {
  height: 2.8rem;
  width: 2.8rem;
  display: inline-block;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.videos__section {
  max-width: 110rem;
  margin: 0 auto;
}

.videos__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  row-gap: 2rem;
}

.movie__card {
  height: 40rem;
  width: 26rem;
  position: relative;
  justify-self: center;
}

.movie__card:hover .movie__img {
  filter: brightness(0.5);
  transition: all 0.3s;
  cursor: pointer;
}

.movie__img {
  width: 100%;
  height: 100%;
}

.movie__card:hover .movie__img {
  filter: brightness(0.5);
  transition: all 0.3s;
  cursor: pointer;
}

.movie__card:hover .see__more__btn {
  display: flex;
}

.movie__card:hover .bookmark__div {
  display: flex;
}

.pagination__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.pagination__btn {
  border: 0;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
