html {
  font-size: 62.5%;
}

body {
  background-color: #10141e;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

.slider__section,
.search__section {
  max-width: 110rem;
  margin: 0 auto;
  position: relative;
}

.trending__selection__div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.trending__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading__fourth {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
}

.trending__selection {
  background-color: #fff;
  width: 2rem;
  height: 0.75rem;
}

.trending__movie__img {
  width: 100%;
  height: 100%;
}

.trending__movie__card {
  height: 45rem;
  width: 25rem;
  position: relative;
}

.active__selection {
  background-color: #fc4747;
  transform: scale(1.1);
}

.slider {
  width: 100rem;
  height: 45rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
}

.trending__movies__list {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  position: absolute;
  z-index: 998;
  transition: all 0.3s;
}

.arrow {
  background-color: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
}

.arrow__left {
  position: absolute;
  top: 50%;
  left: -1rem;

  transform: translate(0, -50%);
  z-index: 999;
}

.arrow__right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -1rem;
  z-index: 999;
}

.trending__movie__card:hover .trending__movie__img {
  filter: brightness(0.5);
  transition: all 0.3s;
  cursor: pointer;
}

.bookmark__btn {
  display: none;
  position: absolute;
  background-color: #202022cc;
  border: 0;
  width: 3.5rem;
  height: 3.5rem;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.bookmark__btn:hover {
  background-color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}

.bookmark__btn:hover .bookmark__icon {
  color: #10141e;
}

.bookmark__icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
}

.trending__movie__card:hover .bookmark__btn {
  display: flex;
}

.see__more__btn {
  position: absolute;
  background-color: #202022cc;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 200;
  padding: 0.8rem 2rem;
  border: 0;
  gap: 1rem;
  width: max-content;
  border-radius: 1rem;
}

.trending__movie__card:hover .see__more__btn {
  display: flex;
}

.see__more__btn:hover {
  background-color: #ffffff;
  color: #10141e;
  cursor: pointer;
  opacity: 0.7;
}

.search__icon {
  width: 2rem;
  height: 2rem;
}

.search__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 5rem;
  background-color: #161d2f;
  padding: 1rem;
  border-radius: 1rem;
}

.search__div {
  position: relative;
}

.search__input {
  border: none;
  background-color: hsl(0, 0%, 75%);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.searchbar__icon {
  font-size: 2rem;
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
}

.select__input {
  background-color: hsl(0, 0%, 75%);
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: none;
}

.bookmarks__div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bookmarks__btn {
  background-color: transparent;
  border: none;
}

.bookmarks__icon {
  height: 2.8rem;
  width: 2.8rem;
  display: inline-block;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.bookmarks__icon__active {
  color: #fc4747;
}

.videos__section {
  max-width: 110rem;
  margin: 0 auto;
}

.single__movie__section {
  max-width: 100rem;
  margin: 0 auto;
}

.videos__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  row-gap: 2rem;
  margin-top: 2rem;
}

.movie__card {
  position: relative;
  justify-self: center;
}

.movie__card:hover .movie__img {
  filter: brightness(0.5);
  transition: all 0.3s;
  cursor: pointer;
}

.movie__img {
  height: 40rem;
  width: 26rem;
}

.movie__card:hover .movie__img {
  filter: brightness(0.5);
  transition: all 0.3s;
  cursor: pointer;
}

.movie__card:hover .see__more__btn {
  display: flex;
}

.movie__card:hover .bookmark__btn {
  display: flex;
}

.pagination__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pagination__btn {
  border: 0;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 75%);
}

.pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}

.active__btn {
  background-color: #fc4747;
}

.movie__card__title {
  font-size: 1.4rem;
  color: #fff;
  position: relative;
  margin-top: 1rem;
}

.movie__card__p {
  font-size: 1.4rem;
  color: #fff;
  opacity: 75%;
}

.movie__card__star {
  font-size: 1.6rem;
  color: rgb(255, 208, 0);
}

.movie__card__info__div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.movie__card__rating__div {
  display: flex;
  align-items: center;
}

.single__movie__title {
  color: #fff;
  font-size: 2rem;
}

.single__movie__year {
  font-size: 1.6rem;
  color: #fff;
  opacity: 75%;
}

.single__movie__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single__movie__right__div {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.single__movie__rating__heading {
  font-size: 2rem;
  color: #fff;
  opacity: 75%;
}

.single__movie__right__span,
.single__movie__left__span {
  font-size: 1.6rem;
  color: #fff;
}

.single__movie__right__span {
  opacity: 75%;
}
.single__movie__video__div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.single__movie__card {
  height: 40rem;
}

.react__player {
  height: 40rem !important;
  width: 100% !important;
}

.single__movie__info__container {
  max-width: 70%;
}

.single__movie__info__heading {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.single__movie__info__p {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 1rem;
  opacity: 75%;
  color: #fff;
  font-size: 1.6rem;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  margin: 8rem auto;
  flex-direction: column;
  gap: 3.2rem;
}

.logo__img {
  height: 4.8rem;
  width: 4.8rem;
}
.logo__text {
  font-size: 2.2rem;
  color: #fff;
}

.logo__div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form {
  background-color: #161d2f;
  padding: 3.6rem 5.6rem 5.6rem;
  border-radius: 0.9rem;
  width: 45%;
}

.form__heading {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 3.2rem;
  font-weight: 400;
}

.form__inputs__div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form__input {
  padding: 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  opacity: 75%;
  border-radius: 0.9rem;
  box-shadow: 0 1px 2px #0000001a;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #fc474780;
  transition: all 0.3s;
}

.submit__btn {
  background-color: #fc4747;
  width: 100%;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.9rem;
  margin-top: 1.6rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
}

.redirect__div {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.redirect__p {
  color: hsl(0, 0%, 75%);
}

.redirect__btn {
  color: #fc4747;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  transition: all 0.3s;
  font-size: inherit;
}

.header {
  background-color: #161d2f;
}

.header__logo__img {
  width: 4.3rem;
  height: 4.3rem;
}

.header__logo__text {
  font-size: 1.8rem;
  color: #fff;
}

.header {
  padding: 1.5rem 8rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__msg {
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  color: #fff;
}

.logout__div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logout__btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout__icon {
  height: 2.4rem;
  width: 2.4rem;
  color: hsl(0, 0%, 75%);
}

.logo__link,
.logo__link:visited,
.logo__link:active {
  text-decoration: none;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.loader::after {
  content: "";
  width: 7.5rem;
  height: 7.5rem;
  border: 1.5rem solid hsl(0, 0%, 75%);
  border-top-color: #fc4747;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.bookmarked__btn {
  background-color: #ffffff;
  opacity: 0.7;
}
.bookmarked__icon {
  color: #10141e;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
